@mixin myFontStyle {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    height: 100%;
    background-color: #053C5E;
    background-image:
        radial-gradient(ellipse at 50% 45%,
            transparent 100px,
            #053C5E 100px),
        radial-gradient(ellipse at 50% 55%,
            transparent 100px,
            #053C5E 100px),
        radial-gradient(circle,
            #222 20px,
            white 20px,
            white 40px,
            transparent 0),
        radial-gradient(#222 150px,
            transparent);
    background-size:
        500px 250px,
        500px 250px,
        100px 100px,
        500px 250px;

    background-position:
        50% 50%,
        50% 50%,
        50% 50%,
        50% 50%;

    background-repeat: no-repeat;

    animation: 5s distress infinite linear;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    @include myFontStyle;

    @keyframes distress {
        0% {
            background-position:
                50% 50%,
                50% 50%,
                calc(50% - 80px) 50%;
        }

        10% {
            background-position:
                50% 50%,
                50% 50%,
                calc(50% + 80px) 50%;
        }

        20% {
            background-position:
                50% 50%,
                50% 50%,
                50% calc(50% - 50px);
        }

        30% {
            background-position:
                50% 50%,
                50% 50%,
                50% calc(50% - 50px);
        }

        40% {
            background-position:
                50% 50%,
                50% 50%,
                calc(50% - 50px) calc(50% - 50px);
        }

        50% {
            background-position:
                50% 50%,
                50% 50%,
                calc(50% + 50px) calc(50% + 50px);
        }

        60% {
            background-position:
                50% 50%,
                50% 50%,
                calc(50% + 50px) calc(50% + 50px);
        }

        70% {
            background-position:
                50% 50%,
                50% 50%,
                calc(50% + 80px) 50%;
        }

        80% {
            background-position:
                50% 50%,
                50% 50%,
                calc(50% + 80px) calc(50% + 50px);
        }

        90% {
            background-position:
                50% 50%,
                50% 50%,
                calc(50% - 80px) 50%;
        }

        100% {
            background-position:
                50% 50%,
                50% 50%,
                calc(50% - 80px) 50%;
        }
    }

    .titreEtInfoPerso {
        display: flex;
        flex-direction: column;
        align-items: center;

        .titre {
            background: radial-gradient(circle, #43afc4, #AC3843);
            text-align: center;
            font-size: 2rem;
            height: -webkit-fill-available;
            border: solid;
            border-radius: 1rem;
            padding: 1rem;
        }

        .infoPerso {
            display: flex;
            flex-direction: column;
            width: fit-content;
            margin: 1rem;
            padding: 1rem;
            border-radius: 2rem;
            border: solid black;
            background: radial-gradient(circle, #43afc4, #AC3843);
        }
    }

    .experiencesProEtCompetencesTechniques {
        display: flex;
        height: -webkit-fill-available;
        width: fit-content;
        align-self: center;

        .experiencesPro {
            background: radial-gradient(circle, #43afc4, #AC3843);
            display: flex;
            flex-direction: column;
            width: fit-content;
            border: solid black;
            border-radius: 1rem;
            margin: 1rem;
            padding: 1rem;
            height: -webkit-fill-available;
        }

        .competencesTechniques {
            background: radial-gradient(circle, #43afc4, #AC3843);
            display: flex;
            flex-direction: column;
            width: fit-content;
            border: solid black;
            border-radius: 1rem;
            margin: 1rem;
            padding: 1rem;
            background: radial-gradient(circle, #B1798C, #A31621)
        }
    }




    .formationAFPA {
        background: radial-gradient(circle, #43afc4, #AC3843);
        display: flex;
        flex-direction: column;
        width: fit-content;
        border: solid black;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
        height: fit-content;

        h2 {
            width: fit-content;
        }

        h3 {
            width: fit-content;
        }

        p {
            width: fit-content;
        }
    }






    .formationINCO {
        background: radial-gradient(circle, #43afc4, #AC3843);
        display: flex;
        flex-direction: column;
        width: fit-content;
        border: solid black;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
    }






    .competencesProEtPerso {
        background: radial-gradient(circle, #43afc4, #AC3843);
        display: flex;
        flex-direction: column;
        width: fit-content;
        border: solid black;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
    }

    .centreInteret {
        background: radial-gradient(circle, #43afc4, #AC3843);
        display: flex;
        flex-direction: column;
        width: fit-content;
        border: solid black;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;

    }

    footer {
        background: radial-gradient(circle, #43afc4, #AC3843);
        border: solid;
        padding: 1rem;
        border-radius: 1rem;
        width: max-content;
        margin: 0 auto;

        p {
            text-align: center;
        }
    }
}